<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
  <meta charset="utf-8">
  <title>Yellow Media - Продвижение сайта в ТОП-10</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <script>
    document.createElement( "picture" );
  </script>
  <script src="js/picturefill.min.js" async></script>
</head>

<body>
  <header class="page-header  page-header--default">
    <div  class="page-header__top-line">
      <div class="page-header__top-line-inner">
        <h1 class="hidden-text  page-header__company-name">
          <span>YellowMedia</span>
          <a href="/" class="page-header__logo" title="YellowMedia" tabindex="1"></a>
        </h1>
        <div class="main-contacts  main-contacts--header  visually-hidden  visually-hidden--lg">
          <p class="main-contacts__item">
            <a href="tel:+78124485764" class="main-contacts__link">+7 (812) 448-57-64</a>
          </p>
          <p class="main-contacts__item">
            <a href="tel:+74997033411" class="main-contacts__link">+7 (499) 703-34-11</a>
          </p>
        </div>
        <span id="main-menu-toggler" class="page-header__menu-toggler  visually-hidden"  role="button" tabindex="2"><span></span></span>
      </div>
    </div>
    <div class="main-menu">
      <nav class="main-nav">
        <ul class="main-nav__list ">
          <li class="main-nav__item   main-nav__item--active  main-nav__item--current  main-nav__item--hide-touch">
            <div class="main-nav__item-inner">
              <a href="javascript:;" class="main-nav__link  main-nav__link--main"  id="menu-item-current-page">Главная</a>
            </div>
            <ul class="main-nav__sub-nav  sub-nav  sub-nav--current"  id="sub-nav-main-page">
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="#tariff" class="sub-nav__link">Тарифы</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="#crm" class="sub-nav__link">Наша CRM</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="#clients" class="sub-nav__link">Наши клиенты</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="#facts" class="sub-nav__link">Факты о нас</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="#interaction" class="sub-nav__link">Взаимодействие</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="main-nav__item  main-nav__item--active">
            <div class="main-nav__item-inner">
              <a href="javascript:;" class="main-nav__link  main-nav__link--services">Услуги</a>
            </div>
            <ul class="main-nav__sub-nav  sub-nav">
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-promotion.html" class="sub-nav__link">Продвижение сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-support.html" class="sub-nav__link">Доработка и техподдержка сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-develop.html" class="sub-nav__link">Разработка сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-selling-links.html" class="sub-nav__link">Продажа вечных ссылок</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-context-adv.html" class="sub-nav__link">Контекстная реклама</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="main-nav__item  main-nav__item--active">
            <div class="main-nav__item-inner">
              <a href="portfolio.html" class="main-nav__link  main-nav__link--portfolio">Портфолио</a>
            </div>
          </li>
          <li class="main-nav__item   main-nav__item--active">
            <div class="main-nav__item-inner">
              <a href="contacts.html" class="main-nav__link  main-nav__link--contacts">Контакты</a>
            </div>
          </li>
          <li class="main-nav__item">
            <div class="main-nav__item-inner">
              <a href="https://team.yellow-media.ru" class="main-nav__link  main-nav__link--private-office">Личный кабинет</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-menu__btn-wrap">
        <a href="form.html" class="btn  btn--calc"  id="form-btn"  role="button" aria-pressed="false">Расчет стоимости</a>
      </div>
      <div class="main-contacts">
        <p class="main-contacts__item  main-contacts__item--spb">Санкт-Петербург<br>
          <a href="tel:+78124485764" class="main-contacts__link">+7 (812) 448-57-64</a>
        </p>
        <p class="main-contacts__item  main-contacts__item--msk">Москва<br>
          <a href="tel:+74997033411" class="main-contacts__link">+7 (499) 703-34-11</a>
        </p>
      </div>
    </div>
  </header>

  <div class="main-content  main-content--scroll">
    <div class="main-content__inner">

      <main>

          <section class="features  features--bg-grey">
            <h1 class="visually-hidden">Услуги Yellow Media</h1>
            <div class="features__inner">
              <div class="features__list">
                <div class="features__item  features__item--max-width  visually-hidden  visually-hidden--md-lg">
                  <h3 class="features__title">Ручное продвижение</h3>
                  <div class="features__text">
                    <p>Мы&nbsp;не&nbsp;используем автоматическое продвижение и&nbsp;всевозможные агрегаторы.<br>Продвижением вашего сайта будут заниматься реальные люди.</p>
                  </div>
                </div>


                <div class="features__items-wrap  features__items-wrap--sm-flexbox  features__items-wrap--xl-flexbox">

                  <div class="features__item  visually-hidden  visually-hidden--sm  features__item--xl-big  features__item--google-yandex">
                    <h3 class="features__title  features__title--font-medium">Продвижение сайта<br>Детализация расходов</h3>
                  </div>
                  <div class="features__item  features__item--bg-yellow  features__item--xl-half-width  features__item--develop">
                    <a href="services-develop.html" class="features__link">
                      <h3 class="features__title">Разработка сайтов</h3>
                    </a>
                  </div>
                  <div class="features__item  features__item--bg-yellow  features__item--xl-half-width  features__item--support">
                    <a href="services-support.html" class="features__link">
                      <h3 class="features__title">Доработка и техподдержка сайтов</h3>
                    </a>
                  </div>

                </div>


                <div class="features__items-wrap">

                  <div class="features__item-wrap">
                    <div class="features__item  features__item--two-blocks visually-hidden  visually-hidden--sm">
                      <div class="features__item-container  features__item-container--white-bg block-1">
                        <h3 class="features__title">ТОП за 2 дня</h3>
                        <div class="features__text">
                          <p>Со&nbsp;2-ого дня работы с&nbsp;нами, все слова, которые не&nbsp;находятся в&nbsp;ТОП-10, будут размещены в&nbsp;Яндекс.Директе</p>
                        </div>
                      </div>
                      <div class="features__item-container  features__item-container--grey-bg block-2">
                        <h3 class="features__title">Всегда в выдаче</h3>
                        <div class="features__text">
                          <p>По&nbsp;мере выхода слов в&nbsp;ТОП-10, объявления на&nbsp;Яндекс.Директе будут останавливаться по&nbsp;этим словам. Таким образом, весь список слов будет находиться на&nbsp;первой странице Яндекса в&nbsp;течение всего времени.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="features__item  features__item--bg-yellow  features__item--promotion">
                    <a href="services-promotion.html" class="features__link">
                      <h3 class="features__title">Продвижение сайтов</h3>
                    </a>
                  </div>
                  <div class="features__item-wrap">
                    <div class="features__item  features__item--two-blocks visually-hidden  visually-hidden--sm">
                      <div class="features__item-container block-1 features__item-container--white-bg">
                        <h3 class="features__title">Ручное продвижение</h3>
                        <div class="features__text">
                          <p>Мы&nbsp;не&nbsp;используем автоматическое продвижение и&nbsp;всевозможные агрегаторы.<br>Продвижением вашего сайта будут заниматься реальные люди.</p>
                        </div>
                      </div>
                      <div class="features__item-container block-2 features__item-container--grey-bg">
                        <h3 class="features__title">Автоматизация</h3>
                        <div class="features__text">
                          <p>Мы&nbsp;используем автоматизацию там, где это необходимо. Боты снимают метрические данные по&nbsp;сайтам. Позиции, уникальность текстов, колв-во ссылок и&nbsp;др. Также, мы&nbsp;автоматизировали внутренние процессы взаимодействия.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="features__items-wrap">

                  <div class="features__item  visually-hidden  visually-hidden--sm  features__item--flex-grow  features__item--crm">
                    <h3 class="features__title">Наша CRM</h3>
                    <div class="features__text">
                      <p>Каждому клиенту предоставляется доступ в&nbsp;личный кабинет, в&nbsp;котором можно увидеть состояние сайта его позиции и&nbsp;метрические показатели</p>
                    </div>
                  </div>
                  <div class="features__item  features__item--bg-yellow  features__item--selling">
                    <a href="services-selling-links.html" class="features__link">
                      <h3 class="features__title">Продажа вечных ссылок</h3>
                    </a>
                  </div>

                </div>


              </div>
            </div>
          </section>

          <section class="tariffs" id="tariff">
            <h2 class="title  title--h2">Основные тарифы</h2>

            <div class="tariffs__inner">
              <div class="tariffs__item  tariffs__item--one">
                <div class="tariffs__item-inner">
                  <div class="tariffs__intro  tariffs__intro--graph1  tariffs__intro--diamond">
                    <div class="tariffs__title"><p>Все прозрачно</p></div>
                    <div class="tariffs__text">
                      <p>Ежедневный замер позиций с&nbsp;детализацией оплаты. Оплата по&nbsp;факту выполненной работы. Мы&nbsp;показываем все расходы, связанные с&nbsp;продвижением сайта. Наше агентское вознаграждение вы&nbsp;оплачиваете только за&nbsp;вышедшие в&nbsp;ТОП-10&nbsp;слова.</p>
                    </div>
                    <div class="tariffs__price">
                      <p>Старт от 20 000 рублей.</p>
                    </div>
                    <a href="tariff-transparently.html" class="tariffs__link">Подробнее</a>
                  </div>
                  <ul class="tariffs__benefits-list  benefits-list">
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Абонентская<br>плата<span class="benefits-list__text  benefits-list__text--strong"> 0 </span>рублей</p>
                    </li>
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Первая<br>оплата <span class="benefits-list__text  benefits-list__text--strong"> 2/3 </span>от суммы</p>
                    </li>
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Детализация<br>работ<span class="benefits-list__text  benefits-list__text--strong  benefits-list__text--yes"> есть </span>есть</p>
                    </li>
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Финансовая<br>детализация<span class="benefits-list__text  benefits-list__text--strong  benefits-list__text--yes"> есть </span>есть</p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tariffs__item  tariffs__item--second">
                <div class="tariffs__item-inner">
                  <div class="tariffs__intro  tariffs__intro--graph2  tariffs__intro--flash">
                    <div class="tariffs__title  tariffs__title--not-uppercase"><p>ТОП за 2 дня</p></div>
                    <div class="tariffs__text">
                      <p>Со&nbsp;2&nbsp;дня работы с&nbsp;нами, все слова, которые не&nbsp;находятся в&nbsp;ТОП-10, будут размещены в&nbsp;Яндекс.Директе в&nbsp;позиции &laquo;спецразмещение&raquo;. По&nbsp;мере выхода слов в&nbsp;ТОП-10, Директ будет отключаться.</p>
                    </div>
                    <div class="tariffs__price">
                      <p>Старт от 25 000 рублей.</p>
                    </div>
                    <a href="tariff-top.html" class="tariffs__link">Подробнее</a>
                  </div>
                  <ul class="tariffs__benefits-list  benefits-list">
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Абонентская<br>плата<span class="benefits-list__text  benefits-list__text--strong"> FIX </span>Фиксирована</p>
                    </li>
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Первая<br>оплата<span class="benefits-list__text  benefits-list__text--strong"> 100% </span>от суммы</p>
                    </li>
                    <li class="benefits-list__item">
                      <p class="benefits-list__text">Детализация<br>работ<span class="benefits-list__text  benefits-list__text--strong  benefits-list__text--yes"> есть </span>есть</p>
                    </li>
                    <li class="benefits-list__item  benefits-list__item--no-service">
                      <p class="benefits-list__text">Финансовая<br>детализация<span class="benefits-list__text  benefits-list__text--strong  benefits-list__text--no"> нет </span>нет</p>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </section>

          <section class="crm"  id="crm">

            <div class="crm__crm-intro crm-intro">
              <div class="crm-intro__inner">
                <div class="crm-intro__promo-text  crm-intro__promo-text--default">
                  <p>Мы не придумали ничего принципиально нового в продвижении сайтов. <br>Мы систематизировали основные этапы продвижения, благодаря собственной уникальной <span class="crm-intro__strong-text">CRM yellowteam</span>.</p>
                </div>
                <div class="crm-intro__promo-text  crm-intro__promo-text--small  crm-intro__promo-text--support  block-hide  visually-hidden">
                  <p>Яндекс обращает внимание на скорость загрузки страниц, скорость ответа сервера, понятность URL страницы, наличие или отсутствие карты сайта и многие другие параметры.
                  Задача на данном этапе — сделать сайт технически современным.</p>

                  <p>В последнее время Яндекс уделяет все больше внимания к содержимому сайта, а также удобству нахождения информации на сайте. Важнейший этап — сделать сайт понятным пользователю и дать ему именно то, что он хочет найти! Специалист оценивает сайт с точки зрения удобства пользования и дает рекомендации по изменению, если такие требуются.</p>
                </div>
                <div class="crm-intro__promo-text  crm-intro__promo-text--small  crm-intro__promo-text--content  block-hide visually-hidden">
                  <p>Основа сайта - это его наполнение.Поисковые машины формируют свою выдачу, основываясь на содержании сайта. Важно, чтобы на страницах вашего сайта была исчерпывающая информация о ваших услугах и о нюансах работы с компанией.</p>
                  <p>Также, информация на сайте должна подталкивать посетителя к совершению действия - например позвонить или заполнить форму обратной связи.</p>
                </div>
                <div class="crm-intro__promo-text  crm-intro__promo-text--small  crm-intro__promo-text--links  block-hide visually-hidden">
                  <p>Чем больше ссылок ведет на ваш сайт — тем выше его рейтинг в глазах поисковых машин. Но не все сайты одинаково полезны! Мы размещаем ссылки только на тех сайтах, которые отвечают требованиям. Высокий ТИЦ, малое кол-во исходящих ссылок, тематика (аналогичная с сайтом клиента) и др.</p>
                  <p>При работе мы используем <a href="services-selling-links.html">&laquo;вечные ссылки&raquo;</a></p>
                  <p><b>Бонусы работы с нами</b> — мы приводим сайт в порядок, как технически, так и визуально.В результате только этих работ больше посетителей становятся покупателями.</p>
                </div>
                <ul class="crm-intro__steps-list">
                  <li class="crm-intro__step  crm-intro__step--support">
                    <div class="crm-intro__step-text">
                      <p>Доработка технической составляющей и юзабили сайта</p>
                    </div>
                  </li>
                  <li class="crm-intro__step  crm-intro__step--content">
                    <div class="crm-intro__step-text">
                      <p>Написание и распределение контента</p>
                    </div>
                  </li>
                  <li class="crm-intro__step  crm-intro__step--links">
                    <div class="crm-intro__step-text">
                      <p>Увеличение популярности сайта, благодаря размещению ссылок</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="crm__crm-features  crm-features  crm-features--default  bg-show">
              <div class="crm-features__inner">
                <h2 class="title  title--h2">Наша CRM</h2>
                <div class="crm-features__promo-text">
                  <p>Каждому клиенту предоставляется доступ в кабинет, в котором можно увидеть состояние сайта, его позиции и метрические показатели, выполненные задачи и задачи в работе, состояние счета</p>
                </div>
                <div class="crm-features__content">
                  <ul class="crm-features__steps-list">
                    <li class="crm-features__step  crm-features__step--statistics">
                      <div class="crm-features__step-text">
                        <b>Статистика</b>
                        <p>Ежедневное снятие позиций по ключевым словам, замер метрических показателей, уникальность контента, скорость загрузки сайта и др.</p>
                      </div>
                    </li>
                    <li class="crm-features__step  crm-features__step--billing">
                      <div class="crm-features__step-text">
                        <b>Биллинг</b>
                        <p>Фиксация всех расходов и начислений. Мы показываем все расходы, связанные с продвижением вашего сайта.</p>
                      </div>
                    </li>
                    <li class="crm-features__step  crm-features__step--tasks">
                      <div class="crm-features__step-text">
                        <b>Контроль задач</b>
                        <p>Отслеживание поставленных задач, задач в работе и выполненных задач.</p>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </section>

          <section class="clients  visually-hidden"  id="clients">
            <div class="clients__inner">
              <div class="clients__tab  clients__tab--left  visually-hidden  visually-hidden--sm   tab  tab--left  tab--disabled">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="45" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                </svg>
              </div>
              <div class="clients__tab  clients__tab--right  visually-hidden  visually-hidden--sm  tab  tab--right">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="45" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                </svg>
              </div>
              <h2 class="clients__title">Наши клиенты в ТОП-10</h2>
              <div class="clients__wrap-list  carousel-wrap-list">
                <ul class="clients__list  carousel">

                </ul>
              </div>
            </div>
          </section>

          <section class="workers">
            <div class="workers__inner">
              <div class="workers__promo">
                <div class="workers__promo-inner">
                  <div class="workers__promo-text  workers__promo-text--default">
                    <h3 class="workers__promo-title">С&nbsp;вашим проектом работают, как минимум 5&nbsp;человек</h3>
                    <div class="workers__text">
                      <p>За&nbsp;каждую задачу отвечают разные специалисты из&nbsp;нашей компании. Таким образом, нам удается не&nbsp;упустить ни&nbsp;одной задачи, необходимой для качественного продвижения сайта.</p>
                    </div>
                  </div>
                  <div class="workers__promo-text  workers__promo-text--project-manager  block-hide  visually-hidden">
                    <h4>Менеджер проекта</h4>
                    <div class="workers__about-text">
                      <p>Это Ваш персональный менеджер. Человек, который всегда на&nbsp;связи и&nbsp;всегда в&nbsp;курсе работ по&nbsp;Вашему сайту. Это представитель от&nbsp;лица нашей компании.</p>
                    </div>
                  </div>
                  <div class="workers__promo-text  workers__promo-text--seo-analyst   block-hide  visually-hidden">
                    <h4>SEO аналитик</h4>
                    <div class="workers__about-text">
                      <p>Человек, который отвечает за&nbsp;то, чтобы Ваш проект рос в&nbsp;поисковой выдаче. В&nbsp;его обязанности входит ежедневный анализ поведения сайта в&nbsp;поисковой выдаче, стратегия развития сайта, контроль за&nbsp;соблюдением работ, необходимых для вывода сайта на&nbsp;нужные позиции.</p>
                    </div>
                  </div>
                  <div class="workers__promo-text  workers__promo-text--copywriter  block-hide  visually-hidden">
                    <h4>Копирайтер</h4>
                    <div class="workers__about-text">
                      <p>Человек, который пишет тексты на&nbsp;Ваши сайты. В&nbsp;его обязанности входит&nbsp;&mdash; погружение в&nbsp;предмет, написание текстов с&nbsp;использованием нужных ключевых слов и&nbsp;другие работы по&nbsp;написанию контента сайта.</p>
                    </div>
                  </div>
                  <div class="workers__promo-text  workers__promo-text--programmer  block-hide  visually-hidden">
                    <h4>Программист</h4>
                    <div class="workers__about-text">
                      <p>Человек, который работает с&nbsp;кодом Вашего сайта. Он&nbsp;делает сайт лучше! Благодаря его стараниям поисковые системы начинаю любить Ваш сайт.</p>
                    </div>
                  </div>
                  <div class="workers__promo-text  workers__promo-text--site-admin  block-hide  visually-hidden">
                    <h4>Администратор сайта</h4>
                    <div class="workers__about-text">
                      <p>Этот специалист занимается размещением контента на&nbsp;сайте из&nbsp;системы администрирования. Добавление текстов, фотографий, описаний товаров, и&nbsp;другие работы.</p>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="workers__list  visually-hidden  visually-hidden--sm-flex">
                <li class="workers__item  workers__item--project-manager">
                  <div class="workers__worker">Менеджер проекта</div>
                </li>
                <li class="workers__item  workers__item--seo-analyst">
                  <div class="workers__worker">SEO аналитик</div>
                </li>
                <li class="workers__item  workers__item--copywriter">
                  <div class="workers__worker">Копирайтер</div>
                </li>
                <li class="workers__item  workers__item--programmer">
                  <div class="workers__worker">Программист</div>
                </li>
                <li class="workers__item  workers__item--site-admin">
                  <div class="workers__worker">Администратор сайта</div>
                </li>
              </ul>
            </div>
          </section>

          <section class="services"  id="facts">
            <div class="services__inner">
              <div class="services__tab  services__tab--left  visually-hidden  visually-hidden--before-xl  tab  tab--left  tab--disabled">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="45" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path fill="#3a3a3a" class="svg-path" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                </svg>
              </div>
              <div class="services__tab  services__tab--right  visually-hidden  visually-hidden--before-xl  tab  tab--right">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="45" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path fill="#3a3a3a" class="svg-path" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                </svg>
              </div>
              <div class="services__wrap-list  carousel-wrap-list">
                <ul class="services__list  carousel">
                  <li class="services__item  carousel__item  services__item--tariffs">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left  tab--disabled">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Тариф &laquo;Все прозрачно&raquo; и&nbsp;тариф &laquo;ТОП за&nbsp;2&nbsp;дня&raquo; имеют одинаковую стоимость. Просто вы&nbsp;выбираете наиболее удобный вариант. Тариф &laquo;ТОП за&nbsp;2&nbsp;дня&raquo; подразумевает ежемесячную фиксированную оплату. При тарифе &laquo;ТОП за&nbsp;2&nbsp;дня&raquo; все слова оказываются на&nbsp;1-й странице Яндекса уже через 2&nbsp;дня.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item  services__item--tariff-transparent">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Благодаря тарифу &laquo;все прозрачно&raquo;, продвижение сайта стало понятным. Теперь вы&nbsp;видите куда конкретно тратятся ваши средства. Агентское вознаграждение вы&nbsp;оплачиваете только за&nbsp;слова, вышедшие в&nbsp;ТОП-10. Деньги, не&nbsp;израсходованные в&nbsp;текущем месяце, переносятся на&nbsp;следующий месяц! Тариф &laquo;Все прозрачно&raquo; не&nbsp;подразумевает ежемесячной абонентской платы.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item  services__item--usability">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#3a3a3a" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Мы&nbsp;работаем над юзабилити сайта и&nbsp;над его улучшением и&nbsp;понятностью. Это одно из&nbsp;условий качественного продвижения сайта, а&nbsp;также улучшения Ваших продаж с&nbsp;сайта.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item  services__item--links">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>У&nbsp;нас своя база вечных ссылок. Более 5000 доноров по&nbsp;различным тематикам. Гарантии на&nbsp;размещение. Работаем по&nbsp;безналу. Нет дополнительных комиссий которые вы&nbsp;теряете на&nbsp;биржах! Гибкая система скидок для крупных заказов.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item  services__item--save">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Практически все наработки, выполняемые в&nbsp;процессе нашего сотрудничества, сохраняются с&nbsp;Вашим сайтом навсегда.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item services__item--crm">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Наша CRM система фиксирует и записывает ежедневно метрические показатели сайта: Позиции, уникальность контента, попадание/выпадение ссылки из индекса, изменение текста на сайте, изменение метатегов, наличие ошибок, битых ссылок и многое другое. По сути это лог продвижения вашего сайта. Таким образом, вы получаете полную историю продвижения вашего сайта.</p></div>
                    </div>
                  </li>
                  <li class="services__item  carousel__item  services__item--hands">
                    <div class="services__item-inner">
                      <div class="services__item-header">
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--left  tab  tab--left">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                          </svg>
                        </span>
                        <h2 class="services__item-title">Интересные факты о наших услугах</h2>
                        <span class="services__item-tab  visually-hidden visually-hidden--xl-inline-block services__item-tab--right  tab  tab--right">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                            <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                          </svg>
                        </span>
                      </div>
                      <div class="services__item-text"><p>Никакого автоматического продвижения. Только человек может сделать сайт адекватным и&nbsp;понятным пользователю. Робот никогда не&nbsp;сможет этого сделать. Роботы помогают нам избавиться от&nbsp;рутинной работы, собирают статистику, предупреждают об&nbsp;ошибках. Ваш сайт продвигает команда людей, с&nbsp;которыми можно поговорить и&nbsp;обсудить детали.</p></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="work-steps"  id="interaction">
            <div class="work-steps__inner">
              <h2 class="title  title--h2">Этапы взаимодействия</h2>
              <ul class="work-steps__list">
                <li class="work-steps__item">
                  <div class="work-steps__number"><span>01</span></div>
                  <div class="work-sters__wrap-text">
                    <div class="work-steps__title"><span>Обращение в компанию</span></div>
                    <div class="work-steps__text"><p>Составление медиаплана, выбор тарифа</p></div>
                    <div class="work-steps__help-text  text-hide"><p><i>После выбора тарифа, предлагаем Вам связаться с&nbsp;нами любым удобным для Вас способом: Телефоны, он-лайн консультант, форма обратной связи.</i></p></div>
                  </div>
                </li>
                <li class="work-steps__item">
                  <div class="work-steps__number"><span>02</span></div>
                  <div class="work-sters__wrap-text">
                    <div class="work-steps__title"><span>Подписание договора</span></div>
                    <div class="work-steps__text"><p>Предоставление доступа в&nbsp;личный кабинет (24/7). Назначение личного менеджера</p></div>
                    <div class="work-steps__help-text  text-hide"><p><i>После выяснения всех нюансов, мы&nbsp;заключаем с&nbsp;Вами договор. Мы&nbsp;открываем для Вас доступ к&nbsp;личному кабинету, а&nbsp;также назначаем личного менеджера. С&nbsp;этого момента начинается работа по&nbsp;сайту.</i></p></div>
                  </div>
                </li>
                <li class="work-steps__item">
                  <div class="work-steps__number"><span>03</span></div>
                  <div class="work-sters__wrap-text">
                    <div class="work-steps__title"><span>Начало работы</span></div>
                    <div class="work-steps__text"><p>Ежедневная работа по&nbsp;улучшению сайта, позиций и&nbsp;обработке ваших пожеланий по&nbsp;сайту. Постоянная связь с&nbsp;нашим менеджером, согласование работ, текстов, выяснение нюансов.</p></div>
                    <div class="work-steps__help-text  text-hide"><p><i>Наши специалисты производят аудит сайта. Результат аудита отправляется Вам на&nbsp;почту.На основе аудита составляется план работ по&nbsp;сайту. План отправляется Вам на&nbsp;согласование.После согласования плана, мы&nbsp;выставляем задачи в&nbsp;системе. Вы&nbsp;можете наблюдать их&nbsp;выполнение. Все задачи, которые касаются изменений на&nbsp;сайте, такие как дизайнерские, тексты, фотографии, согласовываются с&nbsp;Вами.</i></p></div>
                  </div>
                </li>
                <li class="work-steps__item">
                  <div class="work-steps__number"><span>04</span></div>
                  <div class="work-sters__wrap-text">
                    <div class="work-steps__title"><span>Отчет и счет на новый период</span></div>
                    <div class="work-steps__text"><p>По&nbsp;мере израсходования средств на&nbsp;аккаунте, менеджер выставляет счет на&nbsp;новый период</p></div>
                    <div class="work-steps__help-text  text-hide"><p><i>В&nbsp;конце отчетного периода специалист подготавливает отчет и&nbsp;обсуждает результаты по&nbsp;текущему периоду.Специалист выставляет счет на&nbsp;следующий период. Важно, чтобы не&nbsp;было задержек в&nbsp;оплате, от&nbsp;этого напрямую зависит качество продвижения.</i></p></div>
                  </div>
                </li>
              </ul>
            </div>
          </section>

          <section class="request">
            <div class="request__inner">
              <h2 class="title  title--h2  title--light">Хотите обсудить наше сотрудничество?</h2>
              <ul class="request__features-list  visually-hidden  visually-hidden--lg-flex">
                <li class="request__features-item  request__features-item--mediaplan">
                    <span class="request__features-text">Отправьте запрос на медиаплан</span>
                </li>
                <li class="request__features-item">
                    <a href="tel:+78124485764" class="request__link">+7 (812) 448-57-64</a>
                    <span class="request__features-text">Позвоните нам</span>
                </li>
              </ul>
              <form action="" method="post" class="form-main  form-main--success">
                <div class="form-main__inner">
                  <h2 class="title  title--h2  title--light">Запрос на медиаплан</h2>
                  <div class="form-main__promo">
                    <p>Заполните данную форму и наши менеджеры вышлют вам расчет стоимости рекламной кампании</p>
                  </div>
                  <span class="form-main__message">Lorem ipsum dolor sit amet.</span>
                  <label class="form-main__field-text  field-text  field-text--error">
                    <span class="field-text__name">Ваше имя<span class="field-text__help-text"> (обязательно)</span>:</span>
                    <span class="field-text__input-wrap">
                      <input class="field-text__input  field-text__input--name" type="text"  required="required">
                    </span>
                    <span class="field-text__message">Lorem ipsum dolor sit amet.</span>
                  </label>
                  <label class="form-main__field-text  field-text  field-text--error">
                    <span class="field-text__name">E-Mail<span class="field-text__help-text"> (обязательно)</span>:</span>
                    <span class="field-text__input-wrap">
                      <input class="field-text__input  field-text__input--mail" type="email" required="required">
                    </span>
                    <span class="field-text__message">Lorem ipsum dolor sit amet.</span>
                  </label>
                  <label class="form-main__field-text  field-text">
                    <span class="field-text__name">Телефон:</span>
                    <span class="field-text__input-wrap">
                      <input class="field-text__input" type="tel">
                    </span>
                  </label>
                  <label class="form-main__field-text  field-text">
                    <span class="field-text__name">Сообщение:</span>
                    <span class="field-text__input-wrap">
                      <textarea class="field-text__textarea" rows="7"></textarea>
                    </span>
                  </label>
                  <div class="form-main__btn-wrap">
                    <button type="submit" class="btn  btn--submit">Отправить запрос</button>
                  </div>
                </div>
              </form>
            </div>
          </section>

      </main>
    </div>

    <footer class="page-footer  page-footer--main  page-footer--bg-grey-light">
      <div class="page-footer__inner">
        <div class="page-footer__adress">
          <p>Банковский переулок, 3</p>
        </div>
        <div class="page-footer__copyright">
          <p>&copy; ООО &laquo;Еллоу Медиа&raquo;, 2014</p>
        </div>
      </div>
    </footer>
  </div>



  <section class="popup  popup--form  visually-hidden" id="popup-main-form">
    <a name="form-popup"></a>
    <form action="" class="form-main  form-main--success">
      <div class="form-main__inner">
        <a href="" class="popup__close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26.752px" height="26.752px" viewBox="0 0 26.752 26.752" enable-background="new 0 0 26.752 26.752" xml:space="preserve">
            <path fill="#f1f1f1" class="svg-path" d="M15.497,13.376L26.312,2.562c0.586-0.585,0.586-1.535,0-2.121s-1.535-0.586-2.121,0L13.376,11.255L2.562,0.439 c-0.586-0.586-1.535-0.586-2.121,0c-0.586,0.585-0.586,1.535,0,2.121l10.814,10.815L0.439,24.19c-0.586,0.586-0.586,1.535,0,2.121 c0.293,0.293,0.677,0.439,1.061,0.439s0.768-0.146,1.061-0.439l10.815-10.814L24.19,26.312c0.293,0.293,0.677,0.439,1.061,0.439 s0.768-0.146,1.061-0.439c0.586-0.586,0.586-1.535,0-2.121L15.497,13.376z"/>
          </svg>
        </a>
        <h2 class="title  title--h2  title--light">Запрос на медиаплан</h2>
        <div class="form-main__promo">
          <p>Заполните данную форму и наши менеджеры вышлют вам расчет стоимости рекламной кампании</p>
        </div>
        <span class="form-main__message">Lorem ipsum dolor sit amet.</span>
          <label class="form-main__field-text  field-text  field-text--error">
            <span class="field-text__name  field-text__input--name">Ваше имя<span class="field-text__help-text"> (обязательно)</span>:</span>
            <span class="field-text__input-wrap">
              <input class="field-text__input" type="text" required="required">
            </span>
            <span class="form-main__message">Lorem ipsum dolor sit amet.</span>
          </label>
          <label class="form-main__field-text  field-text  field-text--error">
            <span class="field-text__name">E-Mail<span class="field-text__help-text"> (обязательно)</span>:</span>
            <span class="field-text__input-wrap">
              <input class="field-text__input" type="email" required="required">
            </span>
            <span class="form-main__message">Lorem ipsum dolor sit amet.</span>
          </label>
        <label class="form-main__field-text  field-text">
          <span class="field-text__name">Телефон:</span>
          <span class="field-text__input-wrap">
            <input class="field-text__input" type="tel">
          </span>
        </label>
        <label class="form-main__field-text  field-text">
          <span class="field-text__name">Сообщение:</span>
          <span class="field-text__input-wrap">
            <textarea class="field-text__textarea" rows="7"></textarea>
          </span>
        </label>
        <div class="form-main__btn-wrap">
          <button type="submit" class="btn  btn--submit">Отправить запрос</button>
        </div>
      </div>
    </form>
  </section>

  <script src="js/bluebird.min.js" charset="utf-8"></script>
  <script src="js/script-min.js" charset="utf-8"></script>

  <script type="text/template" id="topClientsTemplate">
    <li class="clients__item  carousel__item  clients-item">
      <div class="clients-item__header">
        <span class="clients-item__tab  clients-item__tab--left  visually-hidden  visually-hidden--md-inline  tab  tab--left  tab--disabled">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
            <path class="svg-path" fill="#afafaf" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z" stroke="#afafaf" stroke-width="2"/>
          </svg>
        </span>
        <a rel="nofollow" target="_blank" href="<%= href %>" class="clients-item__link"><%= host %></a>
        <span class="clients-item__tab  clients-item__tab--right  visually-hidden  visually-hidden--md-inline  tab  tab--right">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
            <path class="svg-path" fill="#afafaf" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z" stroke="#afafaf" stroke-width="2"/>
          </svg>
        </span>
      </div>
      <div class="clients-item__main">
        <div class="clients-item__example-pos">
          <span class="clients-item__position"><%= pos %></span>
          <span class="clients-item__pos-title">место</span>
        </div>
        <div class="clients-item__example-query"><%= query %></div>
        <div class="clients-item__example-chart">
          <canvas></canvas>
        </div>
      </div>
    </li>
  </script>

</body>
</html>
