<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
  <meta charset="utf-8">
  <title>Yellow Media - Продвижение сайта в ТОП-10</title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/blueimp-gallery.min.css">
  <script>
      document.documentElement.className = document.documentElement.className.replace("no-js", "js");
  </script>
  <script>
      document.createElement( "picture" );
  </script>
  <script src="js/picturefill.min.js" async></script>
</head>
<body>
  <header class="page-header   page-header--default">
    <div  class="page-header__top-line">
      <div class="page-header__top-line-inner">
        <h2 class="hidden-text  page-header__company-name">
          <span>YellowMedia</span>
          <a href="/" class="page-header__logo" title="YellowMedia" tabindex="1"></a>
        </h2>
        <div class="main-contacts  main-contacts--header  visually-hidden  visually-hidden--lg">
          <p class="main-contacts__item">
            <a href="tel:+78124485764" class="main-contacts__link">+7 (812) 448-57-64</a>
          </p>
          <p class="main-contacts__item">
            <a href="tel:+74997033411" class="main-contacts__link">+7 (499) 703-34-11</a>
          </p>
        </div>
        <span id="main-menu-toggler" class="page-header__menu-toggler  page-header__menu-toggler--open  visually-hidden  visually-hidden--lg-xl-flex"  role="button" tabindex="2"><span></span></span>
      </div>
    </div>
    <div class="main-menu">
      <nav class="main-nav">
        <ul class="main-nav__list ">
          <li class="main-nav__item">
            <div class="main-nav__item-inner">
              <a href="index.html" class="main-nav__link  main-nav__link--main">Главная</a>
            </div>
          </li>
          <li class="main-nav__item  main-nav__item--active">
            <div class="main-nav__item-inner">
              <a href="javascript:;" class="main-nav__link  main-nav__link--services">Услуги</a>
            </div>
            <ul class="main-nav__sub-nav  sub-nav">
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-promotion.html" class="sub-nav__link">Продвижение сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-support.html" class="sub-nav__link">Доработка и техподдержка сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-develop.html" class="sub-nav__link">Разработка сайтов</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-selling-links.html" class="sub-nav__link">Продажа вечных ссылок</a>
                </div>
              </li>
              <li class="second-nav__item">
                <div class="main-nav__item-inner">
                  <a href="services-context-adv.html" class="sub-nav__link">Контекстная реклама</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="main-nav__item  main-nav__item--active  main-nav__item--current">
            <div class="main-nav__item-inner">
              <a href="portfolio.html" class="main-nav__link  main-nav__link--portfolio">Портфолио</a>
            </div>
          </li>
          <li class="main-nav__item  main-nav__item--active">
            <div class="main-nav__item-inner">
              <a href="contacts.html" class="main-nav__link  main-nav__link--contacts">Контакты</a>
            </div>
          </li>
          <li class="main-nav__item">
            <div class="main-nav__item-inner">
              <a href="https://team.yellow-media.ru" class="main-nav__link  main-nav__link--private-office">Личный кабинет</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-menu__btn-wrap">
        <a href="form.html" class="btn  btn--calc"  id="form-btn"  role="button" aria-pressed="false">Расчет стоимости</a>
      </div>
      <div class="main-contacts">
        <p class="main-contacts__item  main-contacts__item--spb">Санкт-Петербург<br>
          <a href="tel:+78124485764" class="main-contacts__link">+7 (812) 448-57-64</a>
        </p>
        <p class="main-contacts__item  main-contacts__item--msk">Москва<br>
          <a href="tel:+74997033411" class="main-contacts__link">+7 (499) 703-34-11</a>
        </p>
      </div>
    </div>
  </header>

  <div class="main-content">

    <div class="page-title">
      <div class="page-title__inner">
        <h1 class="page-title__title">Портфолио</h1>
      </div>
    </div>

    <div class="main-content__inner">
      <main>

        <section class="carousel-promotion  visually-hidden"  id="taskTableCarousel">
          <div class="carousel-promotion__inner">
            <h2 class="title  title--h2">Продвижение сайтов</h2>
            <div class="carousel-promotion__header">
              <div class="carousel-promotion__tab  carousel-promotion__tab--left  tab  tab--left  tab--disabled">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path fill="#afafaf" class="svg-path" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
                </svg>
              </div>
              <div class="carousel-promotion__item-title"></div>
              <div class="carousel-promotion__tab  carousel-promotion__tab--right  tab  tab--right">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
                  <path fill="#afafaf" class="svg-path" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
                </svg>
              </div>
            </div>
            <div class="carousel-promotion__list-wrap  carousel-wrap-list">
              <ul class="carousel-promotion__list  carousel">
              </ul>
            </div>
          </div>
        </section>

        <section class="carousel-create-sites">
          <div class="carousel-create-sites__inner">
          <div class="carousel-create-sites__tab  carousel-create-sites__tab--left   tab  tab--left  tab--disabled">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
              <path fill="#afafaf" class="svg-path" stroke="#afafaf"  stroke-width="2" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261 c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248 c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
            </svg>
          </div>
          <div class="carousel-create-sites__tab  carousel-create-sites__tab--right  tab  tab--right">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="22" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
              <path fill="#afafaf" class="svg-path" stroke="#afafaf"  stroke-width="2" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012 c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248 c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
            </svg>
          </div>

          <h2 class="title  title--h2">Создание сайтов</h2>
          <div class="carousel-create-sites__list-wrap  carousel-wrap-list">
            <ul class="carousel-create-sites__list  carousel"  id="links">
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big1.jpg" data-gallery="" title="aledante.ru">
                  <img src="img/portfolio-small1.jpg" alt="aledante.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">aledante.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big2.jpg" data-gallery="" title="artdis.ru">
                  <img src="img/portfolio-small2.png" alt="artdis.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">artdis.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big3.jpg" data-gallery="" title="bluerivermobili.ru">
                  <img src="img/portfolio-small3.png" alt="bluerivermobili.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">bluerivermobili.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big4.jpg" data-gallery="" title="corpsplus.ru">
                  <img src="img/portfolio-small4.jpg" alt="corpsplus.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">corpsplus.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big5.png" data-gallery="" title="ega21.ru">
                  <img src="img/portfolio-small5.jpg" alt="ega21.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">ega21.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big6.jpg" data-gallery="" title="evotattoo.ru">
                  <img src="img/portfolio-small6.jpg" alt="evotattoo.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">evotattoo.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big7.jpg" data-gallery="" title="fc-polo.ru">
                  <img src="img/portfolio-small7.jpg" alt="fc-polo.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">fc-polo.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big8.jpg" data-gallery="" title="garant-ss.ru">
                  <img src="img/portfolio-small8.jpg" alt="garant-ss.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">garant-ss.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big9.jpg" data-gallery="" title="lip-lap.ru">
                  <img src="img/portfolio-small9.jpg" alt="lip-lap.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">lip-lap.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big10.jpg" data-gallery="" title="l-pk.ru">
                  <img src="img/portfolio-small10.jpg" alt="l-pk.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">l-pk.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big11.jpg" data-gallery="" title="modamexa.ru">
                  <img src="img/portfolio-small11.jpg" alt="modamexa.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">modamexa.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big12.jpg" data-gallery="" title="siroedspb.ru">
                  <img src="img/portfolio-small12.jpg" alt="siroedspb.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">siroedspb.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big13.jpg" data-gallery="" title="spbnewwave.ru">
                  <img src="img/portfolio-small13.jpg" alt="spbnewwave.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">spbnewwave.ru</div>
              </li>
              <li class="carousel-create-sites__item  carousel__item">
                <a href="img/portfolio-big14.jpg" data-gallery="" title="trubotorgrus.ru">
                  <img src="img/portfolio-small14.jpg" alt="trubotorgrus.ru" width="261" height="188">
                </a>
                <div class="carousel-create-sites__item-title">trubotorgrus.ru</div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="portfolio-processing  visually-hidden" id="taskTable">
        <h2 class="title  title--h2  title--normal">Доработка сайтов</h2>
        <div class="portfolio-processing__portfolio-tasks portfolio-tasks">
          <div class="portfolio-tasks__inner">
            <div class="portfolio-tasks__text"><p>Выполнено задач по сайтам наших клиентов:</p></div>
            <ul class="portfolio-tasks__counter">
            </ul>
            <div class="portfolio-tasks__table-wrapper">
              <div class="portfolio-tasks__table-scroll">
                <table class="portfolio-tasks__table table">
                  <thead>
                    <tr>
                      <td class="table__title  table__title--half-width">Задача</td>
                      <td class="table__title">Статус</td>
                      <td class="table__title">Дата</td>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      </main>
    </div>

    <footer class="page-footer  page-footer--main  page-footer--bg-grey-light">
      <div class="page-footer__inner">
        <div class="page-footer__adress">
          <p>Банковский переулок, 3</p>
        </div>
        <div class="page-footer__copyright">
          <p>&copy; ООО &laquo;Еллоу Медиа&raquo;, 2014</p>
        </div>
      </div>
    </footer>
  </div>


  <div id="blueimp-gallery" class="blueimp-gallery  blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <ol class="indicator"></ol>
  </div>


  <section class="popup  popup--form  visually-hidden" id="popup-main-form">
    <form action="" class="form-main  form-main--success">
      <div class="form-main__inner">
        <a href="" class="popup__close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26.752px" height="26.752px" viewBox="0 0 26.752 26.752" enable-background="new 0 0 26.752 26.752" xml:space="preserve">
            <path fill="#f1f1f1" class="svg-path" d="M15.497,13.376L26.312,2.562c0.586-0.585,0.586-1.535,0-2.121s-1.535-0.586-2.121,0L13.376,11.255L2.562,0.439 c-0.586-0.586-1.535-0.586-2.121,0c-0.586,0.585-0.586,1.535,0,2.121l10.814,10.815L0.439,24.19c-0.586,0.586-0.586,1.535,0,2.121 c0.293,0.293,0.677,0.439,1.061,0.439s0.768-0.146,1.061-0.439l10.815-10.814L24.19,26.312c0.293,0.293,0.677,0.439,1.061,0.439 s0.768-0.146,1.061-0.439c0.586-0.586,0.586-1.535,0-2.121L15.497,13.376z"/>
          </svg>
        </a>
        <h2 class="title  title--h2  title--light">Запрос на медиаплан</h2>
        <div class="form-main__promo">
          <p>Заполните данную форму и наши менеджеры вышлют вам расчет стоимости рекламной кампании</p>
        </div>
        <span class="form-main__message  form-main__message--success">Lorem ipsum dolor sit amet.</span>
          <label class="form-main__field-text  field-text  field-text--error">
            <span class="field-text__name  field-text__input--name">Ваше имя<span class="field-text__help-text"> (обязательно)</span>:</span>
            <span class="field-text__input-wrap">
              <input class="field-text__input" type="text" required="required">
            </span>
            <span class="field-text__message">Lorem ipsum dolor sit amet.</span>
          </label>
          <label class="form-main__field-text  field-text  field-text--error">
            <span class="field-text__name">E-Mail<span class="field-text__help-text"> (обязательно)</span>:</span>
            <span class="field-text__input-wrap">
              <input class="field-text__input" type="email" required="required">
            </span>
            <span class="field-text__message">Lorem ipsum dolor sit amet.</span>
          </label>
        <label class="form-main__field-text  field-text">
          <span class="field-text__name">Телефон:</span>
          <span class="field-text__input-wrap">
            <input class="field-text__input" type="tel">
          </span>
        </label>
        <label class="form-main__field-text  field-text">
          <span class="field-text__name">Сообщение:</span>
          <span class="field-text__input-wrap">
            <textarea class="field-text__textarea" rows="7"></textarea>
          </span>
        </label>
        <div class="form-main__btn-wrap">
          <button type="submit" class="btn  btn--submit">Отправить запрос</button>
        </div>
      </div>
    </form>
  </section>

  <script src="js/bluebird.min.js" charset="utf-8"></script>
  <script src="js/script-min.js" charset="utf-8"></script>
  <script src="js/blueimp-gallery.min.js"></script>
  <script>
    document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };
  </script>

  <script type="text/template" id="carouselTableTemplate">
    <tr>
      <td><div class="table__text  table__text--ellipsis"><%- title %></div></td>
      <td><%- placeBefore %></td>
      <td><%- placeNow %></td>
    </tr>
  </script>

  <script type="text/template" id="carouselTemplate">
    <li class="carousel-promotion__item  carousel__item"  data-host="<%- host %>">
      <table class="carousel-promotion__table table">
        <thead>
          <tr>
            <td class="table__title  table__title--width">Запрос</td>
            <td class="table__title">Было</td>
            <td class="table__title">Сегодня</td>
          </tr>
        </thead>
        <tbody>
          <%= body %>
        </tbody>
      </table>
    </li>
  </script>

  <script type="text/template" id="taskTemplate">
    <tr>
      <td><%- title %></td>
      <td class="table__status">Выполнено</td>
      <td><%- date %></td>
    </tr>
  </script>

</body>
</html>
